[core]
	excludesfile = /Users/svij/.gitignore_global
	pager = less -FXRS -x2
	editor = vim
[alias]
	st = status
	di = diff
	co = checkout
	ci = commit -v
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff --staged
	fixup = commit --fixup
	squash = commit --squash
	unstage = reset HEAD
	rum = rebase
	cat = cat-file
	ffwd = pull --rebase
    pg = push gerrit HEAD:refs/publish/master
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
	showbranch = auto
[branch]
	autosetupmerge = true
[rebase]
	autosquash = true
[user]
	email = sumitvij11+github@gmail.com
	name = Sumit Vij
[push]
	default = simple
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[gpg]
	program = gpg2
[credential]
	helper = netrc -f /home/svij/_netrc.gpg -v
